*~ 

# IDEA (PyCharm)
.idea/workspace.xml
.idea/misc.xml
.idea/dictionaries/
.idea/scopes/
.idea/encodings.xml

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

**.ipynb_checkpoints/

data/
logs/*.log
